uvicorn
fastapi
postgresql
postgresql-contrib #extra utilities
# for Auth
python-jose
passlib
pydantic[email] # email validator
bcrypt==4.0.1 # had some errors version mismatch between passlib and bcrypt
# to parse multipart/form-data
python-multipart
